git+https://github.com/pltrdy/rouge
textacy==0.6.2
numpy==1.22.0
spacy==2.0.12
beautifulsoup4==4.9.1
nltk==3.5
numba==0.49.1
pathlib2==2.3.5
scikit_learn==0.20.0
scipy==1.10.0
git+https://github.com/arianpasquali/ternip
syntok
